* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3f464d;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
}

.inner {
    width: 100%;
    /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
    height: 100%;
    /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
    margin: 0 auto;
    /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
    padding: 0rem 10rem;
    /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
    overflow: hidden;
    /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
    background: black;
}

header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.main-image {
    width: 100%;
    height: 400px;
    background-image: url("../img/shaco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main-title {
    position: absolute;
    margin: 7rem 3rem;
    text-align: center;
    font-weight: bold;
    color: brown;
    font-size: 3rem;
}

.main-message {
    position: absolute;
    padding: 2rem 0rem;
    margin: 10rem 3rem;
    color: floralwhite;
    text-align: left;
    line-height: 1.7rem;
    font-size: 1.3rem;
}

.shaco-main {
    width: 100%;
    height: 100%;
    display: flex;
}

.shaco-info {
    width: 100%;
    height: 100%;
    margin: 3rem 2rem;
    text-align: center;
}

.shaco-info > img {
    width: 150px;
    height: 150px;
    text-align: center;
}

.shaco-position {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.title-message {
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
}

.inner-message {
    padding: 0.2rem;
    color: firebrick;
}

.shaco-story {
    border: 4px solid purple;
    width: 100%;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    overflow: auto;
}

.story-title {
    padding: 1rem;
    font-size: 2.4rem;
    color: #800080;
}

.story-main {
    font-size: 1.4rem;
    margin: 1rem;
    color: #aaa;
    line-height: 2rem;
}

.shaco-skill {
    text-align: center;
}

.skill-title {
    margin: 3rem 3rem 2rem 3rem;
    font-size: 1.8rem;
    color: white;
}

.skill-main {
    font-size: 1.5rem;
    display: flex;
    color: #aaa;
    justify-content: center;
}

.skill {
    text-align: center;
}

.skill > img {
    border: 1px solid #FFC300;
    border-radius: 25px;
    margin: 0rem 1rem;
    width: 80%;
    height: 80%;
}

.shaco-skin {
    text-align: center;
}

.skin-title {
    font-size: 1.8rem;
    color: white;
    margin: 3rem 3rem 2rem 3rem;
}


.slide-next {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(47, 48, 89);
    margin: 0rem 0.5rem;
}

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
    color: #cfd8dc;
    margin: 0rem 0.5rem;
}

.slide-prev:hover {
    transition: transform 0.5s;
    transform: translateX(-2px);
}

.slide-next:hover {
    transition: transform 0.5s;
    transform: translateX(2px);
}

.arrow-container {
    display: flex;
    justify-content: center;
}

.class-list {
    display: flex;
    list-style: none;
    padding: 1rem 0rem 1rem 17rem;
    margin: 0;
    overflow: none;
    /* overflow 를 hidden 으로 설정하면, transform 시 이미지 짤림 */
}

.class-card {
    width: 700px;
    /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow 
     offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.4s;
    /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
    flex-shrink: 0;
}

.class-card:hover {
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    transform: translate(0, -5px);
}

.style-image {
    /* 사이즈가 큰 이미지를 작은 블럭 내에 넣을 때 호환성을 위해 max-width/max-height 를 사용해야 함 */
    max-width: 700px;
    max-height: 500px;

    /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
     top-left | top-right | bottom-right | bottom-left */
    border-radius: 8px 8px 0 0;
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.class-desc {
    width: 100%;
    margin-top: 1rem;
    color: #545e6f;
}

.class-desc:hover {
    color: #2186c4;
}

.class-title {
    font-weight: bold;
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.class-detail {
    font-size: 0.8rem;
    color: inherit;
    line-height: 1.8rem;
    font-weight: bold;
}

li a:hover {
    cursor: pointer;
}


@media only screen and (max-width: 480px) {
    .main-image {
        background-image: url("../img/shaco.jpg");
        background-repeat: no-repeat;
        background-size: 400px 300px;
        opacity: 1;
    }

    .main-title {
        position: absolute;
        margin: 6rem 3rem;
        text-align: center;
        font-weight: bold;
        color: brown;
        font-size: 1.5rem;
    }

    .main-message {
        position: absolute;
        padding: 0rem;
        margin: 9rem 3rem;
        color: floralwhite;
        text-align: left;
        line-height: 1.4rem;
        font-size: 0.9rem;
    }

    .shaco-info > img {
        width: 100px;
        height: 100px;
        text-align: center;
    }

    .story-main {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 1rem;
        color: #aaa;
    }

    .skill > img {
        border: 1px solid #FFC300;
        border-radius: 36px;
        margin: 0rem 0.6rem;
        width: 50px;
        height: 76%;
    }
    
    
    .class-card {
        width: 250px;
        margin: 0 1.8rem 0rem 0rem;
        
    }
    .class-card >img {
    width: 100%;
    }
    
    .class-list {
    padding: 1rem 0rem;
}
    .inner {
        padding: 0rem 2rem;
    }
}
